
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
}

.color1 {
    color: var(--blue);
}

.color2 {
    color: var(--red);
}



.presentation-section {
    position: relative;
}

.picture-board {
    display: flex;
}

.picture-board img {
    width: 33.3%;
    object-fit: cover;
    animation: opacity 3s ease-in-out;
    animation-fill-mode: forwards;
}

h2 {
    font-family: "Mea Culpa", cursive;
    opacity: 0;
    position: absolute;
    font-size: 3.5em;
    color: var(--blue);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    animation: slogan-animation 3s ease-in-out;
    animation-fill-mode: forwards;
}


.intro-section {
    text-align: center;
    width: 70%;
    margin: 4em auto 2em;
    line-height: 1.7;
}

.values-section {
    text-align: center;
    margin: 0 2em 4em;
}

.values-cards {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 2em;
}

.values-cards:hover .value-card:not(:hover){
    transform: scale(0.9);
}

.value-card {
    background-color: var(--light-blue);
    padding: 2em;
    border-radius: 12px;
    width: 25%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    color: var(--dark-blue);
}

.value-card:hover {
    transform: scale(1.1);
}

.card-1 {
  transform: translateY(20px);
}
.card-2 {
  transform: translateY(40px);
}


.value-card i {
    font-size: 2.2em;
    margin-bottom: 0.6em;
}

.news-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.blog-card {
    width: 65%;
    background: var(--blue);
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(252, 56, 56, .3);
    padding: 2em;
    position: relative;
}

.blog-card .inner-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inner-part img {
    width: 20em;
    object-fit: cover;
    cursor: pointer;
    border-radius: 20px;
    display: none;
}

#tap-1:checked ~ .inner-part .news-img-1,
#tap-2:checked ~ .inner-part .news-img-2,
#tap-3:checked ~ .inner-part .news-img-3,
#tap-1:checked ~ .inner-part .content-1,
#tap-2:checked ~ .inner-part .content-2,
#tap-3:checked ~ .inner-part .content-3 {
    display: block;
}

.navigation-part {
    position: relative;
}

.content-part {
    padding: 0 20px 0 35px;
    margin-left: 50px;
    color: var(--white-blue);
    width: 60%;
    display: none;
}

.content-part button {
    padding: 15px 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--dark-blue);
    background: var(--light-blue);
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    border: 1px solid var(--dark-blue);
    cursor: pointer;
    outline: none;
}

.content-part button:hover {
    background-color: var(--white-blue)
}

.sliders {
    position: absolute;
    top: 80%;
    left: 70%;
}

.sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: var(--white-blue);
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.sliders .tap::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background-color: var(--red);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}

#tap-1:checked ~ .sliders .tap-1::before,
#tap-2:checked ~ .sliders .tap-2::before,
#tap-3:checked ~ .sliders .tap-3::before,
.sliders .tap:hover::before {
    transform: scaleX(1);
    width: 100%;
}

input {
    display: none;
}


@keyframes slogan-animation {
  from { opacity: 0;
top: 65%; }
  to { opacity: 1; 
top: 0%;}
}

@keyframes opacity {
  from { opacity: 1;}
  to { opacity: 0.5;}
}


