main {
    margin: 0 1em;
}
.celebrities-section {
    text-align: center;
    background: var(--light-blue);
    margin: 4em auto;
    max-width: 1200px;
    padding: 2em 3em;
    border-radius: 45px;
}

.celebrities-section h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    color: var(--dark-blue);
}

.celebrities-section p {
    font-size: 1.2rem;
    margin-bottom: 2em;
    color: var(--blue);
}

.celebrities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.celeb-card {
    background: var(--white-blue);
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.celeb-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.celeb-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.celeb-content {
    padding: 20px;
    text-align: center;
}

.celeb-content h2 {
    margin: 0;
    color: var(--dark-blue);
    font-size: 1.5rem;
}

.celeb-content p {
    color: var(--blue);
    margin-bottom: 1.5em;
    font-weight: 500;
}

.celeb-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--red);
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
}

.celeb-content .btn:hover {
    background: var(--dark-blue);
    color: var(--white-blue);
}

@media screen and (max-width: 400px) {
    .celebrities-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .celeb-card img {
        height: 250px;
    }
    .celebrities-section {
        padding: 1em 0.7em;
    }
    .celebrities-section h1 {
        font-size: 1.3em;
    }
    .celebrities-section p {
        font-size: 0.9rem;
    }
    .celeb-content .btn {
      font-size: 0.7em;
    }
}

@media screen and (min-width: 401px) and (max-width: 530px) {
    .celebrities-section {
        padding: 2em 0.8em;
    }
    .celebrities-section h1 {
        font-size: 1.5em;
    }
    .celebrities-section p {
        font-size: 1rem;
    }
}
