h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--dark-blue);
    text-align: center;
    margin: 2em;
}

.container {
    margin: 0 6em;
    margin-top: 2em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.spot {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    background: white;
    padding: 40px;
    border-radius: 60px;
    border: 4px solid var(--light-blue);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}


.spot img {
    width: 380px;
    height: 250px;
    border-radius: 40px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
}


.text {
    flex: 1;
    min-width: 280px;
    position: relative;
    z-index: 1;
}


.text h3 {
    margin: 0 0 15px;
    font-size: 2rem;
    color: var(--blue);
}


.text p {
    font-size: 1.1rem;
    line-height: 1.7;
}


.circle {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    opacity: 0.55;
    z-index: 2;
}


.circle.right {
    background: var(--red);
    top: -30px;
    right: -30px;
}


.circle.left {
    background: var(--blue);
    top: -30px;
    left: -30px;
}