:root {
    --red: #FF584D;
    --white-blue: #EEEDFF;
    --light-blue: #B6CDE8;
    --blue: #556C96;
    --dark-blue: #475465;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    background-color: var(--white-blue);
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--white-blue);
}

header {
    color: var(--white-blue);
    background-color: var(--blue);
}

nav {
    background-color: var(--blue);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

nav img {
    height: 5.2em;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0;
}

.nav-tab {
    padding: 2em 1em;
}

nav ul li {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 0.7em;
    cursor: pointer;
}

.nav-person {
    gap: 4em;
}

.nav-person a:hover{
    color: var(--white-blue);
}

.nav-tab i.fa-chevron-down {
    transition: transform 0.3s ease;
}

.nav-tab:hover i.fa-chevron-down {
    transform: rotate(180deg);
}

.secondary-nav {
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: 
        max-height 0.4s ease,
        opacity 0.4s ease,
        padding 0.4s ease;
    z-index: 20;
}

.nav-tab:hover .secondary-nav {
    max-height: 600px;
    opacity: 1;
    padding: 2em 0;
}

.sport-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
    border-bottom: 1px solid;
    align-items: center;
}

.sport-box ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.sport-box ul li {
    display: flex;
    align-items: center;
    gap: 1em;
}

.secondary-nav li:hover {
    background: var(--dark-blue);
}

.box-title {
    display: flex;
    gap: 1.4em;
    align-items: center;
}

.fa-timeline,
.fa-person-circle-check,
.fa-location-dot {
    padding: 10px;
    background-color:var(--white-blue);
    border-radius: 6px;
    color: var(--blue);
}



.nav-footer {
    flex-direction: row;
    color: var(--white-blue);
    background-color: var(--red);
    margin-top: 5em;
    font-size: 0.7em;
}

.nav-footer img {
    width: 20%;
    height: auto;
}

.nav-footer .sport-box ul {
    gap: 0.3em;
}
.section-footer {
    display: flex;
}

.section-footer a:hover {
    color: var(--light-blue);
}


@media screen and (max-width:400px) {
    nav ul,
    .section-footer {
        flex-direction: column;
    }
    .nav-tab {
        padding: 1em;
    }
}

@media screen and (max-width:639px) {
    nav ,
    .nav-footer {
        flex-direction: column;
    }
    .section-footer {
        margin-bottom: 2em;
    }
    nav ul {
        font-size: 0.8em;
    }
}

@media screen and (max-width:768px) {
    nav ul {
        gap: 0;
    }
}